@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #8ACDD7;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #0f172a;
}



/* Tags */
img {
  height: 15rem;
  width: 22rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

button {
  margin-left: 2rem;
  background-color: #f59e0b;
  color: #ffffff;
  height: 2rem;
  width: 5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Manu List  Component*/
.underline {
  background-color: #f59e0b;
  width: 8%;
  height: 3px;
  margin: auto;
  margin-top: -1rem;
  margin-bottom: 2rem;
  /* margin-bottom:1rem; */
}


.menu {
  height: 100vh;
}

.menu_list {
  height: 30rem;
  width: 22rem;
  background-color: #FFECD6;
  border-radius: 10px;
  margin: 1rem;
}

.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.title_price {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.price {
  background-color: #f59e0b;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #ffffff;
}

.desc {
  color: #47516b;
  font-weight: 400;
  padding: 1rem;
}

button:hover {
  background-color: #E36414;


}